.card-section {
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-content:center;
    header {
        h1{
            text-align: center;
            font-size: 3rem;
            margin: 0;
        }
    }
    .card-list {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
    }
}